html, body {
    width: 100%;
    height: 100%;
    padding: 0;
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

#Testimonials,
#About,
footer,
header {
    background-color: black;
    color: white;
    margin: 0;
}

img {
    width: 100vw;
}

header {
    margin: 0;
    position: relative;
    display: flex;
    justify-content: center;
    color: white;
}

.headerBox {
    padding: 1rem;
    margin-top: 5rem;
    background-color:rgba(0, 0, 0, .75);
    display: flex;
    flex-direction: column;
    text-align: center;
    position: absolute;
}

.users  li  img {
    border-radius: 50%;
    width: 10rem;
}

.users  li  p {
    padding-left: 0.75rem;
    padding-right: 0.75rem;
}

.users {
    margin: 0;
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding: 1rem;
    text-align: center;
}

#menu {
    text-align: center;
    display: flex;
    justify-content: center;
    flex-direction: column;
    padding-bottom: 1.5rem;
}


#menu ul li h1 {
    text-transform: uppercase;
    font-size: large;
    margin: 0;
    padding-top: 1rem;
}

#menu ul li p {
    margin: 0;
    padding: 0 20rem ;
}

#About {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    text-align: center;
}

#About div {
    flex: 1 1 0px;
    width: 50%;
}

#About div p {
    padding: 0 5rem;
}

address {
    text-align: left;
    padding: 0 7rem;
}
